/* IMPOSTAZIONI GENERALI */
body {
  background: url(../img/sfondo.png);
  margin: 0;
  display: inline-block;
}
.menu {
  display: inline-block;
}
/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
